
<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title>Jumbotron Template for Bootstrap</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>

    <% include ./partials/navbar %>
 
    <%- body -%>
  
    <% include ./partials/footer %>
      
    </div> <!-- /container -->



  </body>
</html>
